* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 90%;
    margin: auto;

    display: flex;
    border-bottom: 1px solid black;;

    
}
header .logo {
    width: 300px;
}
header .logo img {
    width: 200px;
}

header .search {
    width: 900px;
    padding-top: 50px;
    
}
header .search input {
    width: 400px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
header .search img {

    width: 20px;
}

.item-container {
    display: flex;
    padding: 100px;
}
.item-container .item-img-container {
    width: 800px;
}
.item-container .item-img-container img {
    width: 800px;
}

.item-container .item-content-container {
    padding-top: 50px;
    width: 50%;
}
.item-container .item-content-container .item {
    margin-top: 25px;
}
.item-container .item-content-container .price {
    font-size: 1.4em;
    margin-top: 10px;
}
.item-container .item-content-container .desc {

    font-size: 1.2em;
}
.item-container .item-content-container button {
    border: none;
    width: 200px;
    font-size: 2rem;

    background-color: #CF1717;
    padding: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition:  all .3s;
}
.item-container .item-content-container button:hover {
    transform: scale(1.1);
    
}