* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 90%;
    margin: auto;

    padding: 20px;
    display: flex;
    border-bottom: 1px solid black;;

    
}
header .logo {
    width: 10%;
    padding-right: 50px;

}
header .logo img {
    width: 200px;
}

header .search {
    width: 900px;
    padding-top: 100px;
    
}
header .search input {
    width: 50%;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
header .search img {

    width: 3%;
}

.store {
    width: 90%;

    margin: auto;
    margin-top: 10px;
}
.store-item {
    display: flex;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    padding: 10px;
    width: 70%;

}
.store-item .img {
    width: 250px;
}
.store-item .img img {
    width: 100%;
}
.store-item .content {
    width: 80%;
    padding-left: 20px;
}
.store-item .content h1 {
    font-size: 1.5em;
}