* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 90%;
    margin: auto;

    display: flex;
    border-bottom: 1px solid black;;

    
}
header .logo {
    width: 300px;
}
header .logo img {
    width: 200px;
}

header .search {
    width: 900px;
    padding-top: 50px;
    
}
header .search input {
    width: 400px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
header .search img {

    width: 20px;
}

.store {
    width: 90%;

    margin: auto;
    margin-top: 10px;
}
.store-item {
    display: flex;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    padding: 10px;
    width: 70%;

}
.store-item:hover {
    text-decoration: underline;
}
.store-item .img {
    width: 250px;
}
.store-item .img img {
    width: 100%;
}
.store-item .content {
    width: 80%;
    padding-left: 20px;
}
.store-item .content h1 {
    font-size: 1.5em;
}

.store-item .content .rating {
    display: flex;
    padding-bottom: 10px;
}
.store-item .content .rating .star {
    width: 25px;
}
.store-item .content .desc:hover {
    text-decoration: none;
}

.finish {
    position: fixed;
    right:10px;
    top: 50px;
}
.finish button {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5em;
    background-color:#00c853;
    padding: 10px;
    margin-right: 100px;
    height: 50px;
}